
alias swiftspell="alias"
swiftspell accio="wget"
swiftspell aguamenti="nc"
swiftspell alohomora="sudo"
swiftspell anapneo="ping"
swiftspell apparate="ssh"
swiftspell appare-vestigium="cat ~/.bash_history"
swiftspell arcane-archivist="pacman"
swiftspell archivarious-conjuratio="tar"
swiftspell ascendio="cd"
swiftspell avis="echo"
swiftspell bat-boogey-hex="lolcat"
swiftspell connexus-informatio="netstat"
swiftspell conventus-creatus="groupadd"
swiftspell crucio="stress"
swiftspell diffindo="cut"
swiftspell enchanter-repository="apt"
swiftspell engorgio="touch"
swiftspell episkey="patch"
swiftspell erecto="mkdir"
swiftspell evanesco="rm"
swiftspell expelliarmus="kill"
swiftspell finite-incantatum="pkill"
swiftspell geminio="cp"
swiftspell guardian-portus="sftp"
swiftspell guardian-ward="iptables"
swiftspell homenum-revelio="who"
swiftspell homonculus-revelio="whois"
swiftspell imperio="chmod"
swiftspell kernsight="dmesg"
swiftspell legiliclaudis="lsblk"
swiftspell legilicortex="lscpu"
swiftspell legilimemoria="lamem"
swiftspell legilimens="grep"
swiftspell legilimoduli="lsmod"
swiftspell linkus-insightus="ss"
swiftspell luminoscribe="whoami"
swiftspell lumos="ls"
swiftspell magic-boxes="flatpak"
swiftspell minimus-reducto="gzip"
swiftspell observo-animus="vmstat"
swiftspell observo-ordinem="iostat"
swiftspell ordo="sort"
swiftspell pathfinderium-revealo="traceroute"
swiftspell persona-deletrix="userdel"
swiftspell persona-mutatio="usermod"
swiftspell person-formatio="useradd"
swiftspell portus="scp"
swiftspell proprietus="altero"
swiftspell protean="sl"
swiftspell protego-maxima="ufw"
swiftspell realm-identifier="uname"
swiftspell realm-revelatus="dig"
swiftspell realmseeker="nslookup"
swiftspell rebootus="reboot"
swiftspell recticulum-configuro="ifconfig"
swiftspell revelio="find"
swiftspell revelio-spell="htop"
swiftspell runekeeper-repository="dnf"
swiftspell scourgify="clear"
swiftspell soluris="hostname"
swiftspell spacium-estimatum="du"
swiftspell teleportus-webum="curl"
swiftspell terminus-haltus="shutdown"
swiftspell time-turner="git"
swiftspell transmutare-nexus="rsync"
swiftspell unity-enchanter="snap"
swiftspell verbum-custodiam="passwd"
swiftspell veritas-differens="colordiff"
swiftspell wanderer-wisp="appimage"
swiftspell wingardium-leviosa="mv"
